<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="cn" connectionString="Integrated Security=SSPI;Initial Catalog=Vehicle;Data Source=localhost;Trusted_Connection=Yes;"/>
  </connectionStrings>
  
  <appSettings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
  </system.webServer>


  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="VehicleServiceWebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="VehicleServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="VehicleServiceBehavior" name="VehicleService.VehicleService">
        <endpoint address="" behaviorConfiguration="VehicleServiceWebBehavior"
          binding="webHttpBinding" bindingConfiguration="" name="VehicleService"
          contract="VehicleService.IVehicleService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="VehicleServiceMexEndPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/VehicleService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>